<h1><%= @restaurant.name.capitalize %></h1>
<br>
<div class="show-box">
  <div class="info-box">
    <h2>Category:</h2>
    <p><%= @restaurant.category.capitalize %></p>
    <br>
    <h2>Address:</h2>
    <p><%= @restaurant.address %></p>
    <br>
    <h2>Phone Number</h2>
    <p><%= @restaurant.phone_number %></p>
    <br>
  </div>
  <div class="review-box">
    <% @restaurant.reviews.each do |review| %>
      <h2>Review:</h2>
      <p><%= review.content %></p>
      <h2>Rating:</h2>
      <p><%= review.rating %></p>
      <br>
      <br>
    <% end %>
  </div>
</div>
<br>
<h2>Add New Review</h2>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "add a review", class: 'btn btn-primary' %>
<% end %>

